<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ulotna chwila</title>
    <base href="/admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/scss" href="/assets/styles.scss" />
</head>

<body>
    <div class="admin-add">
        <h1>Dodawanie sztuki</h1>
        <form method="post" action="/play-added">
            <input type="text" name="nazwa" placeholder="Tytuł sztuki" /> <br><br>
            Wybierz datę:
            <input type="date" name="data"> <br><br>
            Wybierz godzinę:
            <input type="time" name="godzina"> <br><br>
            <input type="text" name="miejsca" placeholder="Ilość miejsc"> <br><br>
            <input type="submit" value="Dodaj">
        </form>
    </div>
    <div class="admin-update">
        <h1>Aktualizacja sztuki</h1>
        <form method="post" action="/play-updated">
            <select name="id_sztuki">
                <% plays.forEach(function(play){ %>
                <option id="<%= play.id %>" value="<%= play.id %>"><%= (play.nazwa + ' ' + play.data_sztuki) %></option>
                <% }); %>
            </select> <br><br>
            <input type="text" name="nazwa" placeholder="Nowy tytuł sztuki" /> <br><br>
            Wybierz datę:
            <input type="date" name="data"> <br><br>
            Wybierz godzinę:
            <input type="time" name="godzina"> <br><br>
            <input type="text" name="miejsca" placeholder="Ilość miejsc"> <br><br>
            <input type="submit" value="Zatwierdź zmiany">
        </form>
    </div>
    <div class="admin-delete">
        <h1>Usuwanie sztuki</h1>
        <form method="post" action="/play-deleted">
            <select name="id_sztuki">
                <% plays.forEach(function(play){ %>
                <option id="<%= play.id %>" value="<%= play.id %>"><%= (play.nazwa + ' ' + play.data_sztuki) %></option>
                <% }); %>
            </select> <br><br>
            <input type="submit" value="Zatwierdź zmiany">
        </form>
    </div>
</body>

</html>