<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ulotna chwila</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/scss" href="./assets/styles.scss">
</head>

<body>
    <form method="post" action="/buyticket">
        <h1>Kup bilet</h1>
        Imie: <%= user.imie %> <input type="hidden" value="<%= user.imie %>" name="imie"> <br>
        Nazwisko: <%= user.nazwisko %> <input type="hidden" value="<%= user.nazwisko %>" name="nazwisko"> <br>
        Sztuka: <%= sztuka.nazwa %> <input type="hidden" value="<%= sztuka.id %>" name="id_sztuki"><br>
        Data: <%= sztuka.data_sztuki %> <br>
        Miejsce:
        <select name="numer_miejsca">
            <% miejsca.forEach(function(miejsce){ %>
                <option value="<%= miejsce.numer_miejsca %>"><%= miejsce.numer_miejsca %></option>
            <% }); %>
        </select>
        <br>
        <input type="submit" value="Kupuje">        
    </form>
</body>

</html>
